{% extends "base.html" %}

{% block tabs %}
		{% if is_admin %}
			<ul class='nav nav-tabs' id="tabs">
				<li class='tab'><a class='nostyle' href='/submitter/'>work as submitter</a></li>
				<li class='tab active'><a class='nostyle' href='/admin/'>work as admin</a></li>
			</ul>
		{% endif %}
{% endblock %}

{% block submitter_menu %}{% endblock %}

{% block admin_menu %}
			{% if is_admin %}
				<ul id='admin_menu'>
					<a class='nostyle' href='/'><li>home</li></a>
					<a class='nostyle' href='/export_to_excel/'><li>export to excel</li></a>
					<a class="nostyle" href="/config/"><li>configuration</li></a>
				</ul>
			{% endif %}
{% endblock %}

{% block content %}
	<table>
	{% for request in funding_requests %}
	<tr><td>{{request.id}}</td><td>{{request.email}}</td></tr>
	{% endfor %}
	</table>

{% endblock %}