{% extends "admin.html" %}

{% block scripts %}
<script type='text/javascript' src="{{ STATIC_URL }}js/asuc-funding-summary.js"></script>
{% endblock %}

{% comment %}
	This is a django document that expects to be rendered with the following options.

	is_admin: true if the user is an admin, false otherwise
	funding_requests: a list of FundingRequest objects to display.
{% endcomment %}

{% block content %}
	{% if funding_requests|length == 0 %}
	<p class='block'>No requests exist at this time.</p>
	{% else %}
	<table class='request-summary'>
		<thead>
			<tr class='table-header-row'>
				<td id='id'>Request ID<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='email'>Submitter Email<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='submitted'>Date Submitted<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='status'>Request Status<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='group'>Student Group<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='type'>Request Type<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='category'>Request Category<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='for'>Request For<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td class='has-options' id='round'>Funding Round<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td id='requested'>Requested Total<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
				<td id='awarded'>Awarded Total<p><a href='#' class='sort-down'><i class='icon-sort-down'></i></a> <a href='#' class='sort-up'><i class='icon-sort-up'></i></a> <a href='#' class='funnel'><i class='icon-filter'></i></a></p></td>
			</tr>
			<tr id='request_summary_options_form'>
				<td class='id'>
					<p><a href='#' id='select_all'>Select all</a></p>
					<p><a href='#' id='deselect_all'>Deselect all</a></p>
					<p><a href='#' class='funnel' id='close_options'>Close options</a></p>
				</td>
				<td class='email'>Loading...</td>
				<td class='submitted'>Loading...</td>
				<td class='status'>Loading...</td>
				<td class='group'>Loading...</td>
				<td class='type'>Loading...</td>
				<td class='category'>Loading...</td>
				<td class='for'>Loading...</td>
				<td class='round'>Loading...</td>
				<td class='null'></td>
				<td class='null'></td>
			</tr>
		</thead>
		<tbody>
			{% for request in funding_requests %}
			<tr><a href='/admin_review_request/{{request.id}}/'>
				<td class='id'>{{request.formattedID}}</td>
				<td class='email'>{{request.email}}</td>
				<td class='submitted'>{{request.date_submitted_formatted}}</td>
				<td class='status'>{{request.requestStatus}}</td>
				<td class='group'>{{request.studentGroup}}</td>
				<td class='type'>{{request.requestType}}</td>
				<td class='category'>{{request.requestCategory}}</td>
				<td class='for'>{{request.eventType}}</td>
				<td class='round'>{{request.fundingRound}}</td>
				<td class='requested requested-total'>${{request.compute_requested_total}}</td>
				<td class='awarded awarded-total'>${{request.compute_awarded_total}}</td>
			</tr></a>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Totals:</td>
				<td id='requested_grand_total'>Calculating...</td>
				<td id='awarded_grand_total'>Calculating...</td>
			</tr>
		</tfoot>
	</table>
	{% endif %}

{% endblock %}