{% extends "admin.html" %}

{% comment %}
	This is a django document that expets to be rendered with the following options.

	is_admin: true if the user is an admin, false otherwise
	funding_requests: a list of FundingRequest objects to display.
{% endcomment %}


{% block content %}
	<table>
	{% for request in funding_requests %}
	<tr>
		<td>{{request.id}}</td>
		<td>{{request.email}}</td>
		<td>{{request.dateSubmitted}}</td>
		<td>{{request.requestStatus}}</td>
		<td>{{request.studentGroup}}</td>
		<td>{{request.requestType}}</td>
		<td>{{request.requestCategory}}</td>
		<td>{{request.eventType}}</td>
		<td>{{request.fundingRound}}</td>
		<td>{{request.compute_requested_total}}</td>
		<td>{{request.compute_awarded_total}}</td>
	</tr>
	{% endfor %}
	</table>
	{% if funding_requests|length == 0}
	<p>No requests exist at this time.</p>
	{% endif %}

{% endblock %}