{% comment %}
	This is a django document that expects to be rendered with the following options.

	name: a string representing the user's full name.
	is_admin: true if the user is an admin, false otherwise
{% endcomment %}

<html>
<head>
	<title>ASUC/GA Funding Request</title>

	<link rel='stylesheet/less' type='text/css' href="{{ STATIC_URL }}css/styles.less">

	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
	<script type='text/javascript' src="{{ STATIC_URL }}js/less-1.3.1.min.js"></script>
	<script type='text/javascript' src="{{ STATIC_URL }}js/csrf-ajax.js"></script>
	<script type='text/javascript' src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type='text/javascript' src="{{ STATIC_URL }}js/asuc-funding.js"></script>
</head>
<body>
	<div id='header'>
		<div id='title'>asuc funding</div>
		<div id='user_info'>
			Welcome, {{ name }}. <span id='date'></span> <a href='/logout/'>Calnet Logout</a>
		</div>
		<!-- clearfix, because the userinfo will be floating -->
		<div class='clearfix'></div>
	</div>
	<div id='nav'>
		{% block tabs %}{% endblock %}
		{% block submitter_menu %}{% endblock %}

		{% block admin_menu %}{% endblock %}
	</div>

	{% block content %}{% endblock %}

</body>
</html>