{% extends "admin.html" %}

{% comment %}
{
		'admins': admins,
		'locations': locations,
		'ug_req_cats': ug_req_cats,
		'grad_req_cats': grad_req_cats,
		'ug_grant_cats': ug_grant_cats,
		'grad_grant_cats': grad_grant_cats,
		'funding_rounds': funding_rounds,
		'grad_delegates': grad_delegates,
		'name': user['name'], 'is_admin': user['is_admin']
}
{% endcomment %}

{% block content %}
	<div id='config'>
		<div class='config-list' id='admin_roster'>
			<h2>Admin Roster</h2>
			<ul>
				{% for admin in admins %}
				<li id='admin_email_{{admin.id}}'>{{admin.email}}<a class='config_remove'href=''>x</a></li>
				{% endfor %}
				<li><input type='text' id='admin_email' /><button class='config_submit' id='admin_submit'>Add</button></li>
			</ul>
		</div>
		<br/>
		<div class='config-list' id='event_locations'>
			<h2>Event Locations</h2>
			<ul>
				{% for location in locations %}
				<li id='location_{{location.id}}'>{{location.location}}<a class='config_remove' href=''>x</a></li>
				{% endfor %}
				<li><input type='text' id='location' /><button class='config_submit' id='location_submit'>Add</button></li>
			</ul>
		</div>
		<br/>

		<div class='config-list' id='ug_request_categories'>
			<h2>Undergraduate Request Categories</h2>
			<ul>
				{% for cat in ug_req_cats %}
				<li id='ug_req_cat_{{cat.id}}'>{{cat.category}}<a class='config_remove' href=''>x</a></li>
				{% endfor %}
				<li><input type='text' id='ug_req_cat' /><button class='config_submit' id='ug_req_cat_submit'>Add</button></li>
			</ul>
		</div>
		<br/>
		<div class='config-list' id='grad_request_categories'>
			<h2>Graduate Request Categories</h2>
			<ul>
				{% for cat in grad_req_cats %}
				<li id='grad_req_cat_{{cat.id}}'>{{cat.category}}<a class='config_remove' href=''>x</a></li>
				{% endfor %}
				<li> <input type='text' id='grad_req_cat' /><button class='config_submit' id='grad_req_cat_submit'>Add</button></li>
			</ul>
		</div>
		<br/>
		<div class='config-list' id='ug_grant_categories'>
			<h2>Undergraduate Grant Categories</h2>
			<ul>
				{% for cat in ug_grant_cats %}
				<li id='ug_grant_cat_{{cat.id}}'>{{cat.category}}<a class='config_remove' href=''>x</a></li>
				{% endfor %}
				<li><input type='text' id='ug_grant_cat' /><button class='config_submit' id='ug_grant_cat_submit'>Add</button></li>
			</ul>
		</div>
		<br/>
		<div class='config-list' id='grad_grant_categories'>
			<h2>Graduate Grant Categories</h2>
			<ul>
				{% for cat in grad_grant_cats %}
				<li id='grad_grant_cat_{{cat.id}}'>{{cat.category}}<a class='config_remove' href=''>x</a></li>
				{% endfor %}
				<li><input type='text' id='grad_grant_cat' /><button class='config_submit' id='grad_grant_cat_submit'>Add</button></li>
			</ul>
		</div>
		<br/>

		<div class='config-list' id='funding_rounds'>
			<h2>Funding Rounds</h2>
			<ul>
				{% for round in funding_rounds %}
				<li id='round_{{round.id}}'>{{round.name}}&nbsp;{{round.deadline}}<a class='config_remove' href=''>x</a></li>
				{% endfor %}
				<li><input type='text' id='round_name' />
					<input type='text' id='round_date' /><button class='config_submit' id='round_submit'>Add</button></li>
			</ul>
		</div>
		<br/>
		<div class='config-list' id='delegates'>
			<h2>Graduate Assembly Delegates</h2>
			<ul>
				{% for delegate in grad_delegates %}
				<li id='delegate_{{delegate.id}}'>{{delegate.name}}&nbsp;{{delegate.email}}<a class='config_remove' href=''>x</a></li>
				{% endfor %}
				<li id='delegate'><input type='text' id='delegate_name' />
					<input type='text' id='delegate_email' /><button class='config_submit' id='delegate_submit'>Add</button></li>
			</ul>
		</div>
	</div>
{% endblock %}