{% extends "submitter.html" %}

{% comment %}
	This is a django document that expects to be rendered with the following options.

	funding_request: current req. to be edited
	name: user's full name
	is_admin: true if the user is an admin, false otherwise
	locations: event locations (from config)
	ug_request_categories: undergraduate request categories (from config)
	grad_request_categories: graduate request categories (from config)
	ug_grant_categories: undergraduate grant categories (from config)
	grad_grant_categories: graduate grant categories (from config)
	funding_round: latest funding round (from config)
	grad_delegates: list of graduate delegates (from config)
{% endcomment %}

{% block content %}
	<!-- This is essentially the same thing as submitter_create.html, except that the fields are autopopulated.
	We should keep them as separate html files to lessen the number of if statements and make it more readable.
	Obviously this file needs to be edited a lot. -->
	<div id='request_form'>
		<div id='request_selector_block'>
			<div id='name'>
				<label>Requested by:</label>{{name}}
			</div>
			<div id='email'>
				<label>Email:</label><input type='text' name='email' value='{{funding_request.email}}'>
			</div>
			<div id='phone'>
				<label>Phone:</label><input type='text' name='phone' value='{{funding_request.phone}}'>
			</div>
			<div id='request_type'>
				<labeL>Request Type</label>
				<input type='radio' name='request_type' value='Graduate' {% if funding_request.requestType == 'Graduate' %} checked='True'{% endif %}><label>Graduate Funding Request</label><br>
				<input type='radio' name='request_type' value='ug' {% if funding_request.requestType == 'Undergraduate' %} checked='True'{% endif %}><label>Undergraduate Funding Request</label><br>
				<input type='radio' name='request_type' value='travel' {% if funding_request.requestType == 'Travel' %} checked='True'{% endif %}><label>Travel Award Application</label><br>
			</div>
			<div id='ug_request_category'>
				<label>Request category/categories:</label>
				{% for type in ug_request_categories %}
					<input type='checkbox' name='ug_req_cat' value='{{type.id}}'>{{type.category}}<br>
				{% endfor %}
			</div>
			<div id='grad_request_category'>
				<label>Request category/categories:</label>
				{% for type in grad_request_categories %}
					<input type='checkbox' name='grad_req_cat' value='{{type.id}}'>{{type.category}}<br>
				{% endfor %}
			</div>
			<div id='ug_grant_category'>
				<label>Grant category/categories:</label>
				{% for type in grad_grant_categories %}
					<input type='checkbox' name='ug_grant_cat' value='{{type.id}}'>{{type.category}}<br>
				{% endfor %}
			</div>
			<div id='grad_grant_category'>
				<label>Grant category/categories:</label>
				{% for type in grad_grant_categories %}
					<input type='checkbox' name='grad_grant_cat' value='{{type.id}}'>{{type.category}}<br>
				{% endfor %}
			</div>
			<div id='event_type'>
				<label>Requesting for:</label>
				<input type='radio' name='event_type' value='single'><label>Single Event</label><br>
				<input type='radio' name='event_type' value='recurring'><label>Recurring Event</label><br>
				<input type='radio' name='event_type' value='costs'><label>Operational Costs</label><br>
			</div>
			<div id='funding_round'>
				<label>Funding round:</label>
				<input type='checkbox' name='funding_round' value='{{funding_round.id}}'><label>{{funding_round.name}}: {{funding_round.deadline}}</label><br>
				<input type='checkbox' name='funding_round' value='contingency'><label>Contingency (refer to monthly contingency deadlines)</label><br>
			</div>
			<div id='student_group'>
				<label>Sponsoring Student Group:</label>
				<select id='student_group'>
					<option>group 1</option>
				</select><br>
				<input type='text' name='pending_group' disabled='true' />
			</div>
		</div>
		<div id='grad_header_block'>
		</div>
		<div id='ug_header_block'>
		</div>
		<div id='travel_header_block'>
		</div>
		<div id='graduate_header_block'>
		</div>
		<div id='event_block'>
		</div>
		<div id='budget_block'>
		</div>
		<div id='recurring_event_footer_block'>
		</div>
		<div id='travel_event_block'>
		</div>
		<div id='travel_budget_block'>
		</div>
		<div id='submission_confirmation'></div>
	</div>
{% endblock %}
