{% extends "base.html" %}

{% block tabs %}
		{% if is_admin %}
			<ul class='nav nav-tabs' id="tabs">
				<li class='tab {% if not is_admin %}active{% endif %}'><a class='nostyle' href='#submitter_menu_pane'>work as submitter</a></li>
				<li class='tab {% if is_admin %}active{% endif %}'><a class='nostyle' href='#admin_menu_pane'>work as admin</a></li>
			</ul>
		{% endif %}
{% endblock %}

{% block submitter_menu %}
			<ul id='submitter_menu'>
				<li>new request</li><li>
				resume saved request</li><li>
				view submitted requests</li>
			</ul>
{% endblock %}

{% block admin_menu}{% endblock %}

{% block content %}
	<table>
	{% for request in funding_requests %}
	<tr>
		<td>{{request.id}}</td>
		<td>{{request.email}}</td>
		<td>{{request.dateSubmitted}}</td>
		<td>{{request.requestStatus}}</td>
		<td>{{request.studentGroup}}</td>
		<td>{{request.requestType}}</td>
		<td>{{request.requestCategory}}</td>
		<td>{{request.eventType}}</td>
		<td>{{request.fundingRound}}</td>
		<td>{{request.compute_requested_total}}</td>
		<td>{{request.compute_awarded_total}}</td>
	</tr>
	{% endfor %}
	</table>
	{% if funding_requests|length == 0}
	<p>You have not submitted any requests at this time. Click on the new request button to add one.</p>
	{% endif %}
{% endblock %}