{% extends "base.html" %}

{% block tabs %}
		{% if is_admin %}
			<ul class='nav nav-tabs' id="tabs">
				<li class='tab active'><a class='nostyle' href='/submitter/'>work as submitter</a></li>
				<li class='tab'><a class='nostyle' href='/admin/'>work as admin</a></li>
			</ul>
		{% endif %}
{% endblock %}

{% block submitter_menu %}
			<ul id='submitter_menu'>
				<a class='nostyle' href='/'><li>home</li></a>
				<a class='nostyle' href='/create_request/'><li>new request</li></a>
			</ul>
{% endblock %}

{% block admin_menu %}{% endblock %}

{% block content %}{% endblock %}