{% extends "submitter.html" %}

{% comment %}
	This is a django document that expets to be rendered with the following options.

	is_admin: true if the user is an admin, false otherwise
	funding_requests: a list of FundingRequest objects to display.
{% endcomment %}

{% block content %}

	<table>
	<tr>
		<td>&nbsp;Request ID</td>
		<td>&nbsp;Submitter Email</td>
		<td>&nbsp;Date Submitted</td>
		<td>&nbsp;Request Status</td>
		<td>&nbsp;Student Group</td>
		<td>&nbsp;Request Type</td>
		<td>&nbsp;Request Category</td>
		<td>&nbsp;Request For</td>
		<td>&nbsp;Funding Round</td>
		<td>&nbsp;Requested Total</td>
		<td>&nbsp;Awarded Total</td>
	</tr>
	{% for request in funding_requests %}
	<tr>
		<td>&nbsp;{{request.id}}</td>
		<td>&nbsp;{{request.email}}</td>
		<td>&nbsp;{{request.dateSubmitted}}</td>
		<td>&nbsp;{{request.requestStatus}}</td>
		<td>&nbsp;{{request.studentGroup}}</td>
		<td>&nbsp;{{request.requestType}}</td>
		<td>&nbsp;{{request.requestCategory}}</td>
		<td>&nbsp;{{request.eventType}}</td>
		<td>&nbsp;{{request.fundingRound}}</td>
		<td>&nbsp;${{request.compute_requested_total}}</td>
		<td>&nbsp;${{request.compute_awarded_total}}</td>
	</tr>
	{% endfor %}
	</table>
	{% if funding_requests|length == 0 %}
	<p>You have not submitted any requests at this time. Click on the new request button to add one.</p>
	{% endif %}

{% endblock %}