{% extends "submitter.html" %}

{% comment %}
	This is a django document that expects to be rendered with the following options.

	funding_request (=None): if we're here, we're not using this.
	name: user's full name
	is_admin: true if the user is an admin, false otherwise
	locations: event locations (from config)
	ug_request_categories: undergraduate request categories (from config)
	grad_request_categories: graduate request categories (from config)
	ug_grant_categories: undergraduate grant categories (from config)
	grad_grant_categories: graduate grant categories (from config)
	funding_round: latest funding round (from config)
	grad_delegates: list of graduate delegates (from config)
	student_groups: list of student groups, with name and id

	The completed form will pass (some of) the following parameters via POST:
	(t = text, r = radio, c = checkbox(es), s = select)
		Request Information:
			t - name
			t - email
			t - phone
			r - request_type (G, U, or T)
			c - ug_req_cat_{id} or grad_req_cat_{id} (loop through all IDs)
			c - ug_grant_cat_{id} or grad_grant_cat_{id} (loop through all IDs)
			r - event_type (S, R, or O)
			c - funding_round_{id}
			c - contingency
			s - student_group (id)
		Graduate Request Block
			t - affiliate
			s - delegate (id)
			t - grad_membership_total
			t - grad_membership_grad
			t - grad_membership_ug
			r - grad_waiver (Y, or N)
		Undergraduate Request Block
			t - ug_membership_total
			t - ug_membership_student
			r - ug_waiver (Y, or N)
		Travel Request Block
			r - travel_requesting_as (I, or G)
		Event Header Block
			t - recurring_event_title
			t - recurring_event_description
		Recurring Event Header Block
			t - recurring_event_title
			t - recurring_event_description
			r - recurring_same_budget (Y, or N)
		Event Block (k=1-N)
			t - start_date_k
			t - end_date_k
			s - event_location_k (id)
			s - event_waiver_k (N, F, or P)
		Budget Block (k=1-N)
			Budget Item Description (l=1-M)
				t - budget_description_k_l
				t - budget_quantity_k_l
				t - budget_cost_per_item_k_l
				t - budget_other_funding_k_l
			t - budget_additional_info_k
			(other values should be calculated back-end)
		Recurring Event Footer Block
			(all values calculated back-end)
		Travel Event Block
			t - travel_event_title
			t - travel_event_location
			t - travel_event_start_date
			t - travel_event_end_date
			t - travel_event_departure_date
			t - travel_event_return_date
			r - travel_presenting (Y, N)
			t - travel_presentation_title
		Travel Budget Block (k=1-N)
			t - travel_budget_description_k
			t - travel_budget_quantity_k
			t - travel_budget_cost_per_item_k
			(item totals calculated backend)
{% endcomment %}

{% block content %}
	<form id='request_form'>{% csrf_token %}
		<div id='request_selector_block'>
			<h2>Request Information</h2>

			<label for='request_selector_name'>Requested by:</label>
			<input type='text' name='name' id='request_selector_name' value='{{name}}' disabled='true'>

			<label for='request_selector_email'>Email:</label>
			<input type='text' name='email' id='request_selector_email'>

			<label for='request_selector_phone'>Phone:</label>
			<input type='text' name='phone' id='request_selector_phone'>

			<fieldset>
				<legend>Request Type</legend>

				<input type='radio' name='request_type' value='G' id='request_type_graduate'>
				<label for='request_type_graduate'>Graduate Funding Request</label>

				<input type='radio' name='request_type' value='U' id='request_type_undergraduate'>
				<label for='request_type_undergraduate'>Undergraduate Funding Request</label>

				<input type='radio' name='request_type' value='T' id='request_type_travel'>
				<label for='request_type_travel'>Travel Award Application</label>
			</fieldset>

			<fieldset id='ug_request_categories'>
				<legend>Request category/categories:</legend>
				{% for type in ug_request_categories %}
					<input type='checkbox' name='ug_req_cat_{{type.id}}' value='{{type.category}}' id='ug_req_cat_{{type.id}}'>
					<label for='ug_req_cat_{{type.id}}'>{{type.category}}</label>
				{% endfor %}
			</fieldset>

			<fieldset id='grad_request_categories'>
				<legend>Request category/categories:</legend>
				{% for type in grad_request_categories %}
					<input type='checkbox' name='grad_req_cat_{{type.id}}' value='{{type.category}}' id='grad_req_cat_{{type.id}}'>
					<label for='grad_req_cat_{{type.id}}'>{{type.category}}</label>
				{% endfor %}
			</fieldset>

			<fieldset id='ug_grant_categories'>
				<legend>Request category/categories:</legend>
				{% for type in ug_grant_categories %}
					<input type='checkbox' name='ug_grant_cat_{{type.id}}' value='{{type.category}}' id='ug_grant_cat_{{type.id}}'>
					<label for='ug_grant_cat_{{type.id}}'>{{type.category}}</label>
				{% endfor %}
			</fieldset>

			<fieldset id='grad_grant_categories'>
				<legend>Request category/categories:</legend>
				{% for type in grad_grant_categories %}
					<input type='checkbox' name='grad_grant_cat_{{type.id}}' value='{{type.category}}' id='grad_grant_cat_{{type.id}}'>
					<label for='grad_grant_cat_{{type.id}}'>{{type.category}}</label>
				{% endfor %}
			</fieldset>

			<fieldset>
				<legend>Requesting for:</legend>

				<input type='radio' name='event_type' value='S' id='event_type_single'>
				<label for='event_type_single'>Single Event</label>

				<input type='radio' name='event_type' value='R' id='event_type_recurring'>
				<label for='event_type_recurring'>Recurring Event</label>

				<input type='radio' name='event_type' value='O' id='event_type_costs'>
				<label for='event_type_costs'>Operational Costs</label>
			</fieldset>

			<fieldset>
				<legend>Funding round:</legend>

				<input type='checkbox' name='funding_round_{{funding_round.id}}' value='{{funding_round.name}}: Deadline - {{funding_round.deadline}}' id='funding_round_{{funding_round.id}}'>
				<label for='funding_round_{{funding_round.id}}'>{{funding_round.name}} - Deadline: {{funding_round.deadline}}</label>

				<input type='checkbox' name='contingency' value='contingency' id='contingency'>
				<label for='contingency'>Contingency (refer to monthly contingency deadlines)</label>
			</fieldset>

			<fieldset>
				<legend>Sponsoring Student Group:</legend>
				<select name='student_group'>
					{% for group in student_groups %}
						<option value='{{group.id}}'>{{group.name}}</option>
					{% endfor %}
					<option value='pending'>Registration Pending</option>
				</select>
			</fieldset>
			<input type='text' name='pending_student_group' placeholder='Enter group name...' disabled='false'>
		</div>

		<div id='graduate_request_block'>
			<h2>Graduate Request Details</h2>

			<label for='affiliate'>Academic Departmental Affiliate</label>
			<input type='text' name='affiliate' id='affiliate'>

			<fieldset>
				<legend>GA Delegate Reference</legend>
				<select name='delegate'>
					{% for delegate in grad_delegates %}
						<option value='{{delegate.id}}'>{{delegate.name}}</option>
					{% endfor %}
				</select>
			</fieldset>

			<fieldset>
				<legend>Student organization membership:</legend>

				<label for='grad_membership_total'>Total</label>
				<input type='text' name='grad_membership_total' id='grad_membership_total'>

				<label for='grad_membership_grad'>Graduate</label>
				<input type='text' name='grad_membership_grad' id='grad_membership_grad'>

				<label for='grad_membership_ug'>Undergraduate</label>
				<input type='text' name='grad_membership_ug' id='grad_membership_ug'>
			</fieldset>

			<fieldset>
				<legend>Have you attended a GA funding workshop or received a funding workshop waiver?</legend>

				<input type='radio' name='grad_waiver' value='Y' id='grad_waiver_Y'>
				<label for='grad_waiver_Y'>Yes</label>

				<input type='radio' name='grad_waiver' value='N' id='grad_waiver_N'>
				<label for='grad_waiver_N'>No</label>
			</fieldset>
		</div>

		<div id='undergraduate_request_block'>
			<h2>Undergraduate Request Details</h2>

			<fieldset>
				<legend>Student organization membership:</legend>

				<label for='ug_membership_total'>total</label>
				<input type='text' name='ug_membership_total' id='ug_membership_total'>

				<label for='ug_membership_student'>student</label>
				<input type='text' name='ug_membership_student' id='ug_membership_student'>
			</fieldset>

			<fieldset>
				<legend>Have you attended an ASUC agent training?</legend>

				<input type='radio' name='ug_waiver' value='Y' id='ug_waiver_Y'>
				<label for='ug_waiver_Y'>Yes</label>

				<input type='radio' name='ug_waiver' value='N' id='ug_waiver_N'>
				<label for='ug_waiver_N'>No</label>
			</fieldset>
		</div>

		<div id='travel_request_block'>
			<h2>Travel Request Details</h2>

			<fieldset>
				<legend>Requesting as:</legend>

				<input type='radio' name='travel_requesting_as' value='I' id='travel_requesting_as_I'>
				<label for='travel_requesting_as_I'>Individual</label>

				<input type='radio' name='travel_requesting_as' value='G' id='travel_requesting_as_G'>
				<label for='travel_requesting_as_G'>Group</label>
			</fieldset>
		</div>

		<div id='event_header_block'>
			<h2>Event Title/Description</h2>

			<label for='event_title'>Event title:</label>
			<input type='text' name='event_title' id='event_title'>

			<label for='event_description'>Event description:</label>
			<textarea name='event_description' id='event_description'></textarea>
		</div>

		<div id='recurring_event_header_block'>
			<h2>Recurring Event Title/Description</h2>

			<label for='recurring_event_title'>Event title:</label>
			<input type='text' name='recurring_event_title' id='recurring_event_title'>

			<label for='recurring_event_description'>Event description:</label>
			<textarea name='recurring_event_description' id='recurring_event_description'></textarea>

			<fieldset>
				<legend>Is the budget the same for each occurrence of the event?</legend>

				<input type='radio' name='recurring_same_budget' value='Y' id='recurring_same_budget_Y'>
				<label for='recurring_same_budget_Y'>Yes</label>

				<input type='radio' name='recurring_same_budget' value='N' id='recurring_same_budget_N'>
				<label for='recurring_same_budget_N'>No</label>
			</fieldset>
		</div>

		<div id='event_block_1'>
			<h2>Event Details</h2>

			<label for='start_date_1'>Start Date</label>
			<input type='text' name='start_date_1' id='start_date_1'>

			<label for='end_date_1'>End Date</label>
			<input type='text' name='end_date_1' id='end_date_1'>

			<fieldset>
				<label>Location</label>
				<select name='event_location_1'>
					{% for location in locations %}
						<option value='{{location.id}}'>{{location.location}}</option>
					{% endfor %}
				</select>
			</fieldset>

			<fieldset>
				<legend>Waiver Requested</legend>
				<select name='event_waiver_1'>
					<option value='N'>No</option>
					<option value='F'>Full</option>
					<option value='P'>Partial</option>
				</select>
			</fieldset>
		</div>

		<div id='budget_block_1'>
			<h2>Budget Details</h2>

			<table>
				<tr>
					<td>Item Description</td>
					<td>Quantity</td>
					<td>Cost Per Item</td>
					<td>Amount Requested</td>
					<td>Other Funding</td>
					<td>Item Total</td>
				</tr>
				<tr id='budget_item_description_1_1'>
					<td><input type='text' name='budget_description_1_1' id='budget_description_1_1'></td>
					<td><input type='text' name='budget_quantity_1_1' id='budget_quantity_1_1'></td>
					<td><input type='text' name='budget_cost_per_item_1_1' id='budget_cost_per_item_1_1'></td>
					<td><input type='text' name='budget_amount_requested_1_1' id='budget_amount_requested_1_1'></td>
					<td><input type='text' name='budget_other_funding_1_1' id='budget_other_funding_1_1'></td>
					<td><input type='text' name='budget_item_total_1_1' id='budget_item_total_1_1' disabled='true'></td>
				</tr>
			</table>

			<label for='budget_additional_info_1'>Additional Info:</label>
			<textarea name='budget_additional_info_1' id='budget_additional_info_1'></textarea>
		</div>

		<div id='recurring_event_footer_block'>
			<h2>Recurring Event Totals</h2>

			<span>Grand Totals</span>
			<span id='recurring_total_amount_requested'></span>
			<span id='recurring_total_other_funding'></span>
			<span id='recurring_grand_total'></span>
		</div>

		<div id='travel_event_block'>
			<h2>Travel Event Details</h2>

			<label for='travel_event_title'>Event</label>
			<input type='text' name='travel_event_title' id='travel_event_title'>

			<label for='travel_event_location'>Location</label>
			<input type='text' name='travel_event_location' id='travel_event_location'>

			<label for='travel_event_start_date'>Event Start Date</label>
			<input type='text' name='travel_event_start_date' id='travel_event_start_date'>

			<label for='travel_event_end_date'>Event End Date</label>
			<input type='text' name='travel_event_end_date' id='travel_event_end_date'>

			<label for='travel_event_departure_date'>Your Departure Date</label>
			<input type='text' name='travel_event_departure_date' id='travel_event_departure_date'>

			<label for='travel_event_return_date'>Your Return Date</label>
			<input type='text' name='travel_event_return_date' id='travel_event_return_date'>

			<fieldset>
				<legend>Are you presenting?</legend>

				<input type='radio' name='travel_presenting' value='Y' id='travel_presenting_Y'>
				<label for='travel_presenting_Y'>Yes</label>

				<input type='radio' name='travel_presenting' value='N' id='travel_presenting_N'>
				<label for='travel_presenting_N'>No</label>
			</fieldset>

			<label for='travel_presentation_title'>Title of your presentation:</label>
			<input type='text' name='travel_presentation_title' id='travel_presentation_title'>
		</div>

		<div id='travel_budget_block'>
			<h2>Travel Budget Details</h2>

			<table>
				<tr>
					<td>Item Description</td>
					<td>Quantity</td>
					<td>Cost Per Item</td>
					<td>Item Total</td>
				</tr>
				<tr id='travel_budget_item_description_1'>
					<td><input type='text' name='travel_budget_description_1' id='travel_budget_description_1'></td>
					<td><input type='text' name='travel_budget_quantity_1' id='travel_budget_quantity_1'></td>
					<td><input type='text' name='travel_budget_cost_per_item_1' id='travel_budget_cost_per_item_1'></td>
					<td><input type='text' name='travel_budget_item_total_1' id='travel_budget_item_total_1' disabled='true'></td>
				</tr>
			</table>
		</div>

		<div id='submission_confirmation'>
		</div>
	</form>
{% endblock %}
